.editor {
  .ProseMirror {
    @apply custom-scrollbar;
    /* margin-top: 0.75em; */
    max-height: 30rem;
    min-height: 20rem;
    max-width: 100%;
    padding: 10px;
    overflow-y: scroll;
    outline: none;
  }
}
.tiptap {
  ol {
    padding: 0 1rem;
    list-style: decimal;
  }
  ul {
    padding: 0 1rem;
    list-style: disc;
  }

  h1 {
    font-size: 2em;
    line-height: 1.2;
    font-weight: 500;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: 500;
  }

  h3 {
    font-size: 1.17em;
    line-height: 1.2;
    font-weight: 500;
  }

  h4 {
    font-size: 1em;
    line-height: 1.2;
    font-weight: 500;
  }

  h5 {
    font-size: 0.83em;
    line-height: 1.2;
    font-weight: 500;
  }

  h6 {
    font-size: 0.67em;
    line-height: 1.2;
    font-weight: 500;
  }

  code {
    background-color: #61616141;
    padding: 1px 5px;
    border-radius: 10px;
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding: 10px;
    padding-left: 1rem;
    border-left: 2px solid #ffffffa6;
  }

  hr {
    border: none;
    border-top: 2px solid #fff;
    margin: 2rem 0;
  }
}
